.header {
  margin: 40px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_logo {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      display: block;
      width: 145px;
      height: 47px;
      transform: scale(0.8);
      margin-left: -15px;
      margin-bottom: 5px;
      padding-bottom: 10px;
    }

    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
      width: 180px;
      height: 58px;
    }
  }
  &_nav {
    display: flex;
    column-gap: 57px;
    font-size: 24px;
    font-weight: 500;
    &-link {
      text-decoration-line: none;
      color: $black-color;
    }
    &-link:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    width: 90%;
    margin: 20px auto -19px;
  }

  @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
    margin: 20px 20px 0 20px;
  }

  @media screen and (min-width: map-get($breakpoints, breakhome)) {
    margin-left: 125px;
    margin-right: 125px;
  }
}
