.footer {
  height: 209px;
  gap: 40px;
  background-color: $black-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 30px;
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    justify-content: center;
    gap: 15px;
    padding-bottom: 0;
  }
  @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
    justify-content: center;
    gap: 25px;
    padding-bottom: 0;
  }
  &_logo {
    color: $white-color;
  }
  &_copyright {
    font-size: 24px;
    color: $white-color;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      font-size: 12px;
      width: 100px;
      text-align: center;
    }
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
      font-size: 18px;
    }
  }
}
